{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div class="row" style="margin-top:50px">
                <div class="col">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        {% for league in leagues %}
                            <li class="nav-item">
                                <a data-toggle="pill" role="tab"
                                   class="nav-link btn btn-primary btn-league {% if loop.index0 == 0 %}active{% endif %}"
                                   href="#league{{ league.id }}">{{ league.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                {% for league in leagues %}
                    <div class="tab-pane fade row {% if loop.index0 == 0 %}show active {% endif %}"
                         style="margin-top:50px" id="league{{ league.id }}" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <h4>Tablica</h4>
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ime</th>
                                        <th scope="col">Pobjede / Porazi</th>
                                        <th scope="col">Osvojeni / izgubljeni mečevi</th>
                                        <th scope="col">Bodovi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for clubLeagueStats in clubStats[league.id] %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ clubLeagueStats['name'] }}</td>
                                            <td>
                                                {{ clubLeagueStats['totalWon'] }} : {{ clubLeagueStats['totalLost'] }}
                                            </td>
                                            <td>
                                                {{ clubLeagueStats['totalWonPoints'] }}
                                                : {{ clubLeagueStats['totalLostPoints'] }}
                                            </td>
                                            <td>{{ clubLeagueStats['totalPoints'] }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    {% for round in roundInfo[league.id] %}
                                        <li class="nav-item">
                                            <a data-toggle="pill" role="tab"
                                               class="nav-link btn btn-primary btn-league {% if loop.index0 == 0 %}active{% endif %}"
                                               href="#round{{ round.id }}">{{ round.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col tab-content">
                                <h4>Kola</h4>
                                {% for round in roundInfo[league.id] %}
                                    <div class="tab-pane fade row {% if loop.index0 == 0 %}show active {% endif %}"
                                         id="round{{ round.id }}" role="tabpanel">
                                        <div class="col">
                                            <table class="table table-dark">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Domaćin</th>
                                                    <th scope="col">Gost</th>
                                                    <th scope="col">Rezultat</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for gameMatch in round.gameMatches %}
                                                    <tr {% if gameMatch.file %}class='clickable-row'
                                                        data-href='{{ gameMatch.file }}'{% endif %}>
                                                        <th scope="row">{{ loop.index }}</th>
                                                        <td>{{ gameMatch.homeClub.name }}</td>
                                                        <td>{{ gameMatch.awayClub.name }}</td>
                                                        <td>
                                                            {{ gameMatch.homeClubScore }}
                                                            : {{ gameMatch.awayClubScore }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4>Igrači</h4>
                                <table class="table table-dark">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ime</th>
                                        <th scope="col">Odigrane</th>
                                        <th scope="col">Pobjede</th>
                                        <th scope="col">Porazi</th>
                                        <th scope="col">Postotak</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for playerScore in playersInfo[league.id] %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ playerScore.name }}</td>
                                            <td>{{ playerScore.won + playerScore.lost }}</td>
                                            <td>{{ playerScore.won }}</td>
                                            <td>{{ playerScore.lost }}</td>
                                            <td>{{ (playerScore.won / (playerScore.won + playerScore.lost) * 100)|number_format(2, '.', ',') }}%</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".clickable-row").click(function () {
                window.open($(this).data("href"), '_blank');
            });

        })
    </script>
{% endblock %}
